* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
:root {
  --main-color: #fb5283;
  --secondary-color: #ff3527;
  --section-padding: 30px;
}
.container {
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
  margin-left: auto;
  margin-right: auto;
}
/* Start Header */
header {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
header .container {
  display: flex;
  justify-content: space-between;
  padding-left: calc(var(--section-padding));
  padding-right: calc(var(--section-padding));
}

header .container img {
  width: 60px;
  height: 60px;
}
@media (max-width: 768px) {
  header .container img {
    width: 50px;
    height: 45px;
    align-self: center;
  }
}

header .container .links .list-icon {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 30px;
  transform: rotate(45deg);
  display: none;
}
@media (max-width: 768px) {
  header .container .links {
    position: relative;
  }
  header .container .links .list-icon {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 30px;
    transform: rotate(45deg);
  }
  header .links .list-icon span {
    height: 3px;
    margin-bottom: 5px;
    background-color: #444;
  }
  header .container .links .list-icon span:first-child {
    width: 100%;
  }
  header .container .links:hover span:nth-child(2) {
    width: 100%;
    transition: 0.5s;
  }
  header .container .links:hover .list-icon {
    transform: rotate(0deg);
    transition: 0.5s;
  }
  header .container .links:hover ul {
    display: block;
  }
  header .container .links .list-icon span:nth-child(2) {
    width: 60%;
  }
  header .container .links .list-icon span:last-child {
    width: 100%;
  }
  header .container .links ul {
    list-style: none;
    padding: 0;
    position: absolute;
    right: 0;
    background: white;
    min-width: 250px;
    top: 50%;
    /* z-index: 1; */
    display: none;
  }

  .links ul li a {
    display: block;
    color: var(--main-color);
    padding: 5px 15px;
    text-decoration: none;
    transition: 0.5s;
  }
  .links ul li a:hover {
    padding-left: 25px;
  }
}
@media (min-width: 769px) {
  header .container .links ul {
    display: flex;
    list-style: none;
  }
  .links ul li a {
    color: #444;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
  }
  .links ul li a:hover {
    color: #fb5283;
  }
}

@media (max-width: 1200px) {
  .header .container header .container ul a {
    margin-left: 10px;
    text-align: center;
  }
}
header .container ul a:hover {
  color: var(--main-color);
}
/* End Header */

/* Start Section */
.section {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 20px);
}
.section .container {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .section .container {
    margin-top: -20px;
    justify-content: space-between;

    flex-direction: column-reverse;
  }
  .section .text {
    align-self: flex-start;
    margin-left: 40px;
  }
  .section .image {
    margin-bottom: 80px;
  }
}
.section .text {
  padding-left: 50px;
  position: relative;
  line-height: 1.5;
}
.section .text::before {
  content: "";
  width: 8px;
  height: 55%;

  background: linear-gradient(
    to bottom,
    var(--main-color) 50%,
    var(--secondary-color)
  );

  position: absolute;
  left: 20px;
}
.section .text p {
  color: #777;
  font-size: 20px;
  margin-bottom: 0;
}
.section .text span {
  display: block;
  color: #999;
  margin-top: 5px;
}
.section .text span:last-of-type {
  display: block;
  font-weight: bold;
  color: black;
  margin-bottom: 0;
}
.section .text input {
  margin-top: 20px;
  padding: 10px 35px;
  border: transparent;
  background: linear-gradient(
    to right,
    var(--main-color),
    var(--secondary-color)
  );
  color: white;
  border-radius: 12px;
}
.section .image {
  max-width: 500px;
  display: flex;
  position: relative;
}
.section .image img {
  max-width: 100%;
}
.section .image::after {
  content: "";
  position: absolute;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  transform: translate(190px, 0);
  background: linear-gradient(
    to bottom,
    var(--main-color),
    var(--secondary-color)
  );
  z-index: -1;
}
@media (max-width: 1200px) {
  .section .image {
    width: 350px;
    position: relative;
  }
  .section .image::after {
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(150px, 0);
    background: linear-gradient(
      to bottom,
      var(--main-color),
      var(--secondary-color)
    );
    z-index: -1;
  }
  .section .image .text-2 {
    margin-right: -20px;
  }
}
.section .image .text-2 {
  align-self: center;
  display: flex;
  flex-direction: column;
  color: white;
  margin-right: -100px;
}
.section .image .text-2 i {
  margin-bottom: 10px;
  align-self: center;
}
.circle {
  border-radius: 50%;
  border: 2px solid white;
  padding: 5px;
}
/* End Section */

/* Start Footer */
footer {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container a {
  color: #444;
  margin-left: 40px;
}
footer .container a:hover {
  color: var(--main-color);
}
/* End Footer */
